*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url(../imagenes/fondo-equipo.png);
    background-size: auto;
}

.navbar-brand:hover{
    opacity: 0.5;

}

.quienes-somos h2{
margin: 0.3rem;
text-align: center;
padding: 0.5rem;
background-color: rgba(124, 138, 90, 0.473);
border-radius: 0.5rem;

}

.__titulo{
color: white;
font-size: 1.5rem;
}
.parrafo{
    width: 100%;
    height: 80%;
    margin: auto;
    padding: 3rem;
    
}
.parrafo p{
    color: rgb(161, 158, 158);
    padding: 50px;
    font-size: 1rem;
    text-align: center;
}

.equipos__titulo h2{
    margin: 0.3rem;
text-align: center;
padding: 0.5rem;
background-color: rgba(124, 138, 90, 0.473);
border-radius: 0.5rem;
}
.row{
    color: white;
    padding: 3rem;
}

.proyectos__titulo h2{
    margin: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
}

.proyectos{
    text-align: center;
}

.carrusel{
    padding: 3rem;
}

.staff__titulo{
    display: flex;
    flex-direction: column;
}
.staff__titulo h2{
    margin: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
}
.contenedor__staff{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.contenedor__staff img{
    opacity: 0.6;
    transition: all 1s;
    width: 15rem;
}

.contenedor__staff img:hover{
    opacity: 1;
}

.contenedor__staff img{
    width: 13rem;
}


.contenedor__staff .descripcion h3, p{
    margin: 0.5rem;
    color: white;
    font-size: small;
    text-align: center;
}

@media only screen and (max-width: 500px) and (min-width: 341px){
    
    .contenedor__staff{
        display: none;
        
    }
} 

.contacto h1{
    margin: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    
    
}

.espacio-contenedor{
    padding-top: 8rem;
    padding-bottom: 8rem;
}


.contenedor-form{
    padding: 50px;
    margin: auto;
    width: 400px;
    background-color: rgba(83, 30, 30, 0.63);
    border-radius: 5px;
    color: white;
}

.contenedor-form h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

}
.datos-form{
    background: rgb(207, 204, 204);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: solid 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contenedor-form .boton{
    width: 5rem;
    padding: 0.4rem;
    border-radius: 5px;
    margin-bottom: 16px;
    border: solid 1px rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

::placeholder{
    color: rgba(116, 70, 70, 0.63);
}

.redes{
    display: flex;
    background-color: rgba(31, 29, 29, 0.26);
    border-style: solid;
    border-color: rgba(124, 138, 90, 0.473);
    border-width: 1px;
   
}
.iconos img{
    width: 2rem;
    opacity: 0.5;
}
.iconos img:hover{
    opacity: 1;
    transition: 0.5s;
}
.iconos{
    margin: 15px;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}
.descripcion-logo h3{
    color: rgb(245, 240, 240);
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 675px){
    .descripcion-logo h3{
        display: none;
    }
    .redes{
        display: flex;
        justify-content: center;
    }}